In [1]:
from e_genomic.pipeline_data_class import Pipeline

Pipeline().run()

Pipeline.__run
Pipeline.__filtreds
Pipeline.__transform

    year  month  day  count_news
0   2023      9    1           2
1   2023      9    5           2
2   2023      9    6           2
3   2023      9    7           2
4   2023      9    8           1
5   2023      9   11           4
6   2023      9   12           1
7   2023      9   13           1
8   2023      9   17           1
9   2023      9   18           1
10  2023      9   19           2
11  2023      9   20           6
12  2023      9   21           1
13  2023      9   22           4
14  2023      9   23           2
15  2023      9   24           1
16  2023      9   25           1
17  2023      9   26           1
18  2023      9   27           2
19  2023      9   29           2

,source_name,author,count_source
0,Abril.com.br,Paula Felix,1
1,Abril.com.br,diego.valencia,1
2,Catracalivre.com.br,Maria Fernanda Ziegler | Agência FAPES,1
3,Catracalivre.com.br,Redação,1
4,Googlediscovery.com,Renê Fraga,1
5,Melhoresdestinos.com.br,Cleverson Lima,1
6,Observador.pt,Agência Lusa,1
7,Observador.pt,Inês André Figueiredo,1
8,Observador.pt,Inês Capucho,1
9,Observador.pt,Maria Raimundo,1
10,Observador.pt,Observador,1
11,Observador.pt,Ricardo Zorron,1
12,Observador.pt,Sofia Teixeira,1
13,Olhardigital.com.br,Alessandro Di Lorenzo,7
14,Olhardigital.com.br,Mateus Dias,1
15,Olhardigital.com.br,Tamires Ferreira,1
16,Olhardigital.com.br,Vitoria Lopes Gomez,4
17,Sapo.pt,Ana Sofia Neto,1
18,Sapo.pt,Marisa Pinto,1
19,Sapo.pt,Rui Jorge,1
20,Tecmundo.com.br,Jennifer Egues,1
21,Tecmundo.com.br,Jorge Marin,1
22,Terra.com.br,Deutsche Welle,1
23,Terra.com.br,Elas no Tapete Vermelho,1
24,Terra.com.br,Portal EdiCase,1
25,Terra.com.br,Porto Alegre 24 horas,1
26,Terra.com.br,Reuters,2
27,Www.tsf.pt,Lusa,1

   year  month  day  count_keywords
0  2023      9    1               2
1  2023      9    7               1
2  2023      9    8               1
3  2023      9   13               1
4  2023      9   18               1
5  2023      9   20               3
6  2023      9   22               1
7  2023      9   24               1
8  2023      9   29               1